.app {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

.loading {
    text-align: center;
}

.header {
    text-align: center;
}

.table {
    width: 100%;
}

.label-header, .count-header {
    text-decoration: underline;
}

tr {
    display: flex;
    padding: 7px 0;
}

.label-header,
.count-header,
.item-label,
.item-count {
    flex-basis: 150px;
}

.add-header,
.remove-header,
.item-add,
.item-remove {
    flex-basis: 115px;
}

tr td:nth-child(2), tr th:nth-child(2) {
    flex-grow: 1;
}

.item-label, .item-count {
    text-align: center;
}

.item-bar {
    display: block;
    height: 25px;
    background-color: purple;
}

.item-add, .item-remove {
    display: flex;
    justify-content: center;
}

.no-books {
    flex-basis: 100%;
}

.no-books p {
    text-align: center;
}

.add-genre {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.add-genre__label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.add-genre__input {
    margin-right: 10px;
}

.add-genre {
    margin-bottom: 15px;
}

.reset-data {
    align-self: flex-end;
}

.divider {
    margin: 50px 0;
}

.footer {
    text-align: center;
}